#PYTHON ignores
#ipch/
*.opendb
*.opensdf
*.LEO-PC
*.npy
*.data-00000-of-00001
*.meta
*.h5
*.csv
*.bin
*.rar
*.zip
*.jpg
.idea/

.ipynb_checkpoints
*/.ipynb_checkpoints/*
venv/
__pycache__/


# !*/worm_single_large_adam.h5
!*/Keras/Wormax/worm_single_large_adam.h5